<div class="container" style="margin-top: 25px;">
    <div class="jumbotron">
        <div>Выберите категорию</div>
        <br>
        <label>
            <select name="category" id="category">
                <option value="12M">12 категория М</option>
                <option value="12W">12 категория Ж</option>
                <option disabled>----</option>
                <option value="11M">11 категория М</option>
                <option value="11W">11 категория Ж</option>
                <option disabled>----</option>
                <option value="10M">10 категория М</option>
                <option value="10W">10 категория Ж</option>
                <option disabled>----</option>
                <option value="9M">9 категория М</option>
                <option value="9W">9 категория Ж</option>
                <option disabled>----</option>
                <option value="8M">8 категория М</option>
                <option value="8W">8 категория Ж</option>
            </select>
        </label>
    </div>
    <div>
        <button type="button" onclick="pressStart()" class="btn btn-info">Запустить</button>
    </div>
</div>

<script src="/assets/js/competition_loader.js"></script>
