<div class="jumbotron">
    <form>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" name="name" class="form-control" placeholder="Имя">
            </div>
            <div class="col">
                <input type="text" name="surname" class="form-control" placeholder="Фамилия">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" name="club" class="form-control" placeholder="Спортивный клуб">
            </div>
            <div class="col">
                <input type="text" name="place_of_living" class="form-control" placeholder="Город/Индекс">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" name="date_of_birth" class="form-control" placeholder="0000-00-00">
            </div>
            <div class="col">
                <input type="text" name="weight" class="form-control" placeholder="Вес">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <label>
                    <select name="sex">
                        <option>m</option>
                        <option>w</option>
                    </select>
                </label>
            </div>
        </div>
        <button type="button" class="btn btn-info" onclick="addUser(this.form)">Добавить</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Вес</th>
            <th scope="col">Спортивный клуб</th>
            <th scope="col">Город индекс</th>
            <th scope="col">Пол</th>
            <th scope="col">Изменить</th>
        </tr>
        </thead>
        <tbody id="table"></tbody>
    </table>

    <div class="ui">
        <input class="ui button" type="button" value="<-" onclick="prev()">
        <label class="ui label">Страница <label id="page"></label> из <label id="page_count"></label></label>
        <input class="ui button" type="button" value="->" onclick="next()">
    </div>
</div>

<script src="/assets/js/control_panel.js"></script>