<div class="jumbotron">
    <form>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" class="form-control" placeholder="Имя">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Фамилия">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" class="form-control" placeholder="Спортивный клуб">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Город/Индекс">
            </div>
        </div>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col">
                <input type="text" class="form-control" placeholder="Дата рождения">
            </div>
            <div class="col">
                <input type="text" class="form-control" placeholder="Вес">
            </div>
        </div>
        <button type="button" class="btn btn-info">Добавить</button>
    </form>
</div>

<div class="container">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Дата рождения</th>
            <th scope="col">Вес</th>
            <th scope="col">Спортивный клуб</th>
            <th scope="col">Город индекс</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Саша</td>
            <td>Александр</td>
            <td>01.01.1965</td>
            <th>54</th>
            <td>Бойцовский клуб</td>
            <td>1488228</td>
            <td><a href="">Изменить</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <th></th>
            <td></td>
            <td></td>
            <td><a href="">Изменить</a></td>
        </tr>
        </tbody>
    </table>
</div>