<div class="menu">
    <div id="tohide">
        <img src="/assets/img/logo.jpg" alt="" height="200" width="200">
        <a href="/auth">
            <div class="button"> Вход</div>
        </a>
        <a href="/signup">
            <div class="button"> Регистрация</div>
        </a>
    </div>
    <div id="menu" style="visibility: hidden;">
        <a href="/main_table">
            <div class="button2" style="background: blue">Общая таблица</div>
        </a>
        <a href="/control_panel">
            <div class="button2"  style="background: darkred">Панель управления</div>
        </a>
        <a href="/all_table">
            <div class="button2" style="background: rgba(255,255,0,0.82)">Все таблицы</div>
        </a>
        <a href="/logout">
            <div class="button2" style="background: orange;"
            >Выйти</div>
        </a>
    </div>
</div>


<script src="/assets/js/index_loader.js"></script>