<div class="jumbotron">
    <a href="/">
        <img src="/assets/img/arrow_black.png" width="170" height="177">
    </a>
    <h1 class="d-flex justify-content-center">Турнирная таблица</h1>
</div>

<table class="table table-bordered table-striped" style="margin-bottom: 50px; font-size: 1.4em;">
    <thead><tr id="thead"></tr></thead>
    <tbody id="tbody"></tbody>
</table>

<table class="table table-bordered table-striped" style="font-size: 1.4em;"">
    <thead><tr>
        <td scope="col">Участник</td>
        <td scope="col">Участник</td>
        <td scope="col">Таймер</td>
        <td scope="col">Управление</td>
    </tr></thead>
    <tbody id="tbodyTimer"></tbody>
</table>

<script src="/assets/js/tournament_grid.js"></script>